NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC4lW_WxQR_rg3eMhQ9gHDUv9emiGZQ_hs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=finperso.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=finperso
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=finperso.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=948480384655
NEXT_PUBLIC_FIREBASE_APP_ID=1:948480384655:web:5537bf680f4712d20bdafa
